/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 sep. 2025, 15:26:31
    Author     : moren
*/

@import url("global.css");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Quicksand:wght@300..700&display=swap");
body {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
  font-family: "Quicksand", sans-serif;
}

nav {
  position: sticky;
  background-color: var(--bg-color-dark);
  top: 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 2;
}

nav .logo {
  margin-right: 50px;
}

nav.logo img {
  height: 70px;
}

nav a {
  font-family: "Alan Sans", sans-serif;
  color: var(--nav-links);
  font-weight: 600;
}

nav ul {
  display: inline;
}
nav li {
  list-style-type: none;
  display: inline;
  margin-left: 20px;
}
header {
  position: relative;
}
header img {
  width: 100%;
  height: 85vh;
  object-fit: cover;
}
header h1 {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50px;
  font-family: "Alan Sans", sans-serif;
  width: 60%;
  font-size: 4rem;
}
.price {
  font-style: italic;
  font-weight: 700;
  font-size: 3rem;
  color: var(--highlight);
}

#news {
  margin-top: 30px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 15rem;
  width: 15rem;
}

article {
  width: 30%;
  min-width: 270px;
  padding: 10px;
}

.iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsletter-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.highlighted {
  color: var(--highlight);
  font-style: italic;
}
.yellow {
  color: var(--highlight);
}
